.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    height: 850px;
} 

.menu {
    margin: 20px 10px;    
    padding: 10px;    
}

.menu-2 {
    border-radius: 10px;
    margin-top: 5px;
}

.formulario {   
    width: 500px;
    margin: auto;
    padding: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 25px;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}






